.carousal-image{
    width: 450px;
  height: 613px;
}
.carousal-image-details{
    position: absolute;
    top: 45%;
    transform: translate(0%, -50%)
}
.carousal-image-details p {
    width: 350px;
    font-size: 15px;
}
.record{
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #21262c;
}
#install{
    background-image: url('../../../assets/claims/20.2.svg');
    background-position: 0px 0%;
    background-repeat: no-repeat;
    background-size: 100%, 200px;
    margin-top: -20px;
    height: 800px;
}
#install .row{
    margin-top: 20px;
}

#tap{
    background-image: url('../../../assets/claims/21.2.svg');
    background-position: 0px 0%;
    background-repeat: no-repeat;
    background-size: 100%, 200px;
    height: 800px;
}
#record{
    background-image: url('../../../assets/claims/22.2.svg');
    background-position: 0px 0%;
    background-repeat: no-repeat;
    background-size: 100%, 200px;
    height: 800px;
}
#desktop-claim-carousel .alice-carousel {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: auto;
}
.number-of-carousal{
    font-size: 130px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -15px;
    margin-top: -15px;
    margin-left: 20px;
    text-align: center;
    color: #3a3a3a;
    opacity: 0.15;
    position: absolute;
    z-index: -3;
}